
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>

<html>
<head>
   
</head>
<body>

   

    <button class="button" onclick="@("window.location.href='" + @Url.Action("AddBook", "Home") + "'")">AddBook</button>
    <button class="button button2" onclick="@("window.location.href='" + @Url.Action("GetBooks", "Home") + "'")">UpdateBook</button>
    <button class="button button3" onclick="@("window.location.href='" + @Url.Action("GetBooks", "Home") + "'")">DeleteBook</button>
    <button class="button button4" onclick="@("window.location.href='" + @Url.Action("RemoveCustomer", "Home") + "'")">RemoveCustomer</button>


</body>
</html>

