@using BookStoreLibrary;
@*@model IEnumerable<BookStoreApplication.Models.ProcessOrder>*@
@{
    ViewData["Title"] = "Payment";
    var list = (ProductViewModelCart[])ViewData["products"];
}
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Payment.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
    .main-div1 {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 10px;
        margin: 10px auto 30px;
        max-width: 100%;
        padding: 50px 70px 70px 71px;
    }

    .login-form .form-control {
        
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        font-size: 14px;
        height: 50px;
        line-height: 50px;
    }
    body#LoginForm {
        background-color: black;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px;
    }

</style>
</head>

<body id="LoginForm" style="background-color:black">

    <div class="container card-deck main-div1 mb-3" style="width:50rem;">
        <div class="login-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="invoice-title" style="text-align:center">
                        <h2>Order Summary</h2>
                    </div>
                    <hr>
                   

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Order Details</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <td><strong>ITEM</strong></td>
                                            <td class="text-center"><strong>PRICE</strong></td>
                                            <td class="text-center"><strong>QUANTITY</strong></td>
                                            <td class="text-right"><strong>TOTAL</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- foreach ($order->lineItems as $line) or some such thing here -->


                                        @foreach (var item in list)
                                        {
                                            <tr>
                                                <td>@item.Title</td>
                                                <td class="text-center">@item.Price</td>
                                                <td class="text-center">@item.Quantity</td>
                                                <td class="text-right">@string.Format("{0}", item.Quantity * item.Price)</td>
                                            </tr>
                                        }
                                        <tr>
                                            @{

                                                int total = 0;
                                                foreach (var item in list)
                                                {
                                                    total += item.Quantity * (int)item.Price;
                                                }
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center"><strong>Total</strong></td>
                                                <td class="no-line text-right">@total</td>
                                            }

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button style="color:black" class="btn-lg btn-dark justify-content-center" onclick="@("window.location.href='" + @Url.Action("Pay", "Order") + "'")">PAY</button>
        </div>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>

</html>

