@using BookStoreLibrary;
@*@model IEnumerable<BookStoreApplication.Models.ProcessOrder>*@
@{
    ViewData["Title"] = "Payment";
    var list = (ProductViewModelCart[])ViewData["products"];
}
@{
    Layout = "~/Views/Shared/LogoutLayout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Payment.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body id="LoginForm">

    <div class="container card-deck bg-dark mb-3" style="width:50rem;">
        <div class="login-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="invoice-title" style="text-align:center">
                        <h2>Order Summary</h2>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <address>
                                <strong>Billed To:</strong><br>
                                John Smith<br>
                                1234 Main<br>
                                Apt. 4B<br>
                                Springfield, ST 54321
                            </address>
                        </div>
                        <div class="col-xs-6 text-right">
                            <address>
                                <strong>Shipped To:</strong><br>
                                Jane Smith<br>
                                1234 Main<br>
                                Apt. 4B<br>
                                Springfield, ST 54321
                            </address>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Order Details</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <td><strong>ITEM</strong></td>
                                            <td class="text-center"><strong>PRICE</strong></td>
                                            <td class="text-center"><strong>QUANTITY</strong></td>
                                            <td class="text-right"><strong>TOTAL</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- foreach ($order->lineItems as $line) or some such thing here -->


                                        @foreach (var item in list)
                                        {
                                            <tr>
                                                <td>@item.Title</td>
                                                <td class="text-center">@item.Price</td>
                                                <td class="text-center">@item.Quantity</td>
                                                <td class="text-right">@string.Format("{0}", item.Quantity * item.Price)</td>
                                            </tr>
                                        }
                                        <tr>
                                            @{

                                                int total = 0;
                                                foreach (var item in list)
                                                {
                                                    total += item.Quantity * (int)item.Price;
                                                }
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center"><strong>Total</strong></td>
                                                <td class="no-line text-right">@total</td>
                                            }

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-center">
                    <button class="btn btn-success btn-primary" onclick="@("window.location.href='" + @Url.Action("Pay", "Order") + "'")">PAY</button>
                </div>
            </div>
        </div>
       
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>

</html>

@*<form asp-action="Pay" asp-controller="Order" method="post">
        @for (var i = 0; i < list.Count; i++)
        {
            <div class="container">
                <div class="row">
                    <input type="hidden" name="[@i].BookId" value="@list[i].BookId" />
                    <input type="hidden" name="[@i].Title" value="@list[i].Title" />
                    <input type="hidden" name="[@i].Price" value="@list[i].Price" />
                    <input type="hidden" name="[@i].Quantity" value="@list[i].Quantity" />

                </div>
            </div>

        }
            <div>
                <button class="btn btn-success btn-primary" onclick="@("window.location.href='" + @Url.Action("Pay", "Order") + "'")">PAY</button>
            </div>
    </form>*@
