@using BookStoreLibrary;
@{
    ViewData["Title"] = "ProcessOrder";
    // var list = (List<ProcessOrder>)ViewData["products"];
    var list = (ProductViewModelCart[])ViewData["products"];
}
<div class="login-form">
    <div class="main-div1">
        <p>
            <a asp-action="Create">View Cart</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        BookId
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        sum
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in list)
                {
                    <tr>
                        <td>
                            <div>
                                @item.BookId
                            </div>
                        </td>
                        <td>
                            <div>
                                @item.Title

                            </div>
                        </td>
                        <td>
                            <div>
                                @item.Price
                            </div>
                        </td>
                        <td>
                            <div>
                                @item.Quantity

                            </div>
                        </td>
                        <td>
                            <div>
                                @string.Format("{0}", item.Quantity * item.Price)
                            </div>
                        </td>

                    </tr>

                }
            </tbody>
        </table>
        <div>
            <input class="btn btn-lg btn-dark" value="Proceed To Pay" onclick="@("window.location.href='" + @Url.Action("Payment", "Order") + "'")" />
        </div>
        </div>
</div>