@model BookStoreApplication.Controllers.OrderController;
@using BookStoreWebService.Models.BookDB;
@using BookStoreLibrary;
@{
    var Customer = (List<Customer>)ViewData["Customer"];
    ViewData["Title"] = "UserProfile";
   
}
@{
    Layout = "~/Views/Shared/LogoutLayout.cshtml";
}}
<div class="LoginForm" style="text-align:center">
    <div class="main-div1" style="width:400px;align-content:center">
        @foreach (var c in Customer)
        {

            <img src="~/images/User.jpg" alt="John" style="width:200px;height:200px">
            <div class="card">
                <h1>@c.CustomerName</h1><br />
                <p>USER ID @c.CustomerId</p>
                <p>@c.Email</p>
                <p>@c.MobileNumber</p>
                <p>@c.Address</p>
                <p><button></button></p>
            </div>
        }
        </div>
    </div>
