@model BookStoreApplication.Controllers.OrderController;
@using BookStoreWebService.Models.BookDB;
@using BookStoreLibrary;
@{
    var Customer = (Customer)ViewData["Customer"];
    ViewData["Title"] = "UserProfile";
   
}
@{
    Layout = "~/Views/Shared/LogoutLayout.cshtml";
}}
<div class="card container">
    

        <img src="~/images/User.jpg" alt="John" style="width:200px;height:200px">
        <h1>@Customer.CustomerName</h1>
        <p>USER ID @Customer.CustomerId</p>
        <p>@Customer.Email</p>
        <p>@Customer.MobileNumber</p>
        <p>@Customer.Address</p>
        <p><button></button></p>

    
</div>
