@using BookStoreLibrary;
@model IEnumerable<ProductViewModelCart>

@{
    ViewData["Title"] = "ViewCart";
    var list = (List<ProductViewModelCart>)ViewData["products"];


}

<div class="login-form main-div1">


    <div class="container order">
        <div class="row">
            <div class="col-md-3 order">
                BookId

            </div>
            <div class="col-md-3 order">
                Book Title

            </div>
            <div class="col-md-2 order">
                Book price

            </div>
            <div class="col-md-2 order">
                Quantity
            </div>
            <div class="col-md-2 order">

            </div>
        </div>
    </div>

    <form asp-action="ProcessOrder" asp-controller="Order" method="post">
        @for (var i = 0; i < list.Count; i++)
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-3 order-div">@list[i].BookId</div> <input type="hidden" name="[@i].BookId" value="@list[i].BookId" />
                    <div class="col-md-3 order-div">@list[i].Title</div> <input type="hidden" name="[@i].Title" value="@list[i].Title" />
                    <div class="col-md-2 order-div">@list[i].Price</div> <input type="hidden" name="[@i].Price" value="@list[i].Price" />
                    <br />
                    <div class="col-md-2 order order-div">
                        <select name="[@i].Quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <br />
                    <div class="col-md-2 order-div">
                        <button class="btn btn-secondary " type="button" style="color:black" onclick="@("window.location.href='" + @Url.Action("UpdateCart", "Order",new {id = list[i].BookId}) + "'")">
                            Remove
                        </button>
                    </div>



                </div>
            </div>

        }
        <div>
            <input type="submit" class="btn btn-lg btn-dark" value="Place Order" />
        </div>
    </form>
</div>

@* onclick="@("window.location.href='" + @Url.Action("UpdateCart", "Order",new {id = list[i].BookId}) + "'")*@