@using BookStoreLibrary;
@model IEnumerable<ProductViewModelCart>

@{
    ViewData["Title"] = "ViewCart";
    var list = (List<ProductViewModelCart>)ViewData["products"];
    Layout = "~/Views/Shared/LogoutLayout.cshtml";


}

@{
    if (list.Count == 0)
    {
        <div class="container">
            <div class="row login-form main-div">
                <div class="col-12">
                    <h1 style="font-size:30px;color:red;text-align:center"><b>Sorry , Cart is Empty!</b></h1>

                    <img src="https://media.tenor.com/images/566837eba034cef161f09e090d191bb1/tenor.gif" style="width:250px;height:250px;padding:20px 20px 20px 20px" />

                </div> 
                <marquee><h4 style="color:darkred"><i>Hey...don't worry Lets Buy Something..!!!</i></h4></marquee>
                <button class="btn btn-dark" onclick="@("window.location.href='" + @Url.Action("GetCategory", "Book") + "'")">CONTINUE SHOPPING</button>
                </div>
        </div>
    }
    else
    {
        <div class="login-form main-div1">


            <div class="container order">
                <div class="row">
                    <div class="col-md-3 order">
                        BookId

                    </div>
                    <div class="col-md-3 order">
                        Book Title

                    </div>
                    <div class="col-md-2 order">
                        Book price

                    </div>
                    <div class="col-md-2 order">
                        Quantity
                    </div>
                    <div class="col-md-2 order">

                    </div>
                </div>
            </div>

            <form asp-action="ProcessOrder" asp-controller="Order" method="post">
                @for (var i = 0; i < list.Count; i++)
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 order-div">@list[i].BookId</div> <input type="hidden" name="[@i].BookId" value="@list[i].BookId" />
                            <div class="col-md-3 order-div">@list[i].Title</div> <input type="hidden" name="[@i].Title" value="@list[i].Title" />
                            <div class="col-md-2 order-div">@list[i].Price</div> <input type="hidden" name="[@i].Price" value="@list[i].Price" />
                            <br />
                            <div class="col-md-2 order order-div">
                                <select name="[@i].Quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <br />
                            <div class="col-md-2 order-div">
                                <button class="btn btn-secondary " type="button" style="color:black" onclick="@("window.location.href='" + @Url.Action("UpdateCart", "Order",new {id = list[i].BookId}) + "'")">
                                    Remove
                                </button>
                            </div>



                        </div>
                    </div>

                }
                <div>
                    <input type="submit" class="btn btn-lg btn-dark" value="Place Order" />
                </div>
            </form>
        </div>

    }
}
