@using BookStoreLibrary;
@model ProductViewModel

@{
    ViewData["Title"] = "SearchBooks";
    var productList = (List<ProductViewModel>)ViewData["products"];
}

<div class="login-form">
    <div class="main-div1">

        <div class="container order">
            <div class="row">
               
                <div class="col-md-2 order-div ">
                    Book Title

                </div>
                <div class="col-md-2 order-div ">
                    Book price

                </div>
                <div class="col-md-2 order-div ">
                    Image

                </div>
                <div class="col-md-3 order-div ">

                </div>
                <div class="col-md-3 order-div ">

                </div>
            </div>
        </div>
        @foreach (var item in productList)
        {

            <form asp-action="AddToCart" asp-controller="Order" method="post">
                <div class="container">
                    <div class="row table-striped">
                        
                        <div class="col-md-2 order-div ">
                            @item.Title

                        </div>
                        <div class="col-md-2 order-div ">
                            @item.Price

                        </div>
                        <div class="col-md-2 order-div ">
                            <img src="@item.Image" style="width:50px;height:65px" />

                        </div>

                        <div class="col-md-3 order-div ">
                            <input value="VIEW DETAILS" class="btn btn-success" style="width:auto" onclick="@("window.location.href='" + @Url.Action("ViewBook", "Book",new { id = item.BookId }) + "'")" />

                        </div>
                        <div class="col-md-3 order-div ">
                            <input type="submit" value="ADD TO CART" class="btn btn-dark" />

                        </div>
                        <input type="hidden" asp-for="BookId" value="@item.BookId" />
                        <input type="hidden" asp-for="Title" value="@item.Title" />
                        <input type="hidden" asp-for="SubCategoryId" value="@item.SubCategoryId" />
                        <input type="hidden" asp-for="CategoryId" value="@item.CategoryId" />
                        <input type="hidden" asp-for="Price" value="@item.Price" />

                    </div>
                </div>
            </form>

        }
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <input type="submit" value="VIEW CART" class="btn-dark" onclick="@("window.location.href='" + @Url.Action("ViewCart", "Order") + "'")" />

                </div>
            </div>
        </div>
        </div>
    </div>
