
@model IEnumerable<BookStoreWebService.Models.BookDB.Book>


<!DOCTYPE html>

    <div class="container-fluid card" style="width:40rem;">
        @foreach (var item in Model)
        {
            <br><h2 style="text-align: center;">@item.BookTitle</h2>
            <div class="row">

                <div class="col-sm-4">
                    <br />
                    <img class="img-fluid img-thumbnail img-circle mx-auto d-block align-content-center" src="@item.Image" style="width:200px;height:250px ; ">
                </div>
                <div class="col-sm-8">
                    <br /><br /><br />
                    <table class="table table-striped" style="color:whitesmoke">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SubCategoryId)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubCategoryId)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SupplierId)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierId)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryId)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryId)
                            </td>
                        </tr>
                    </table>

                </div>

            </div>
        }
        <div style="text-align:center">
            <button class="btn btn-primary" style="margin:20px;" onclick="@("window.location.href='" + @Url.Action("SearchBook", "Book") + "'")">Go Back</button>|
            <button type="button" class="btn btn-primary" style="margin:20px;">Delete</button>|
            
        </div>
    </div>
